# Stacey's Code for data clean up

In [1]:
#import dependencies

import pandas as pd
import os
import csv

In [2]:
# The path to our CSV file
file = "Resources/or_historical_wildfires.csv"

#Read data into csv
or_hist_df = pd.read_csv(file)
or_hist_df.head()

,id,fire_year,report_date,county,latitude,longitude,total_acres,odf_acres,fuel_model,fuel_descr,general_cause,fire_name,district,unit,legal
0,1,1961,1961-01-25,Washington,NaN,NaN,8.00,8.00,X,non-wildland fuel,Miscellaneous,61511004,51 - Tillamook,Tillamook,T000 R000 S00
1,2,1961,1961-04-04,Washington,NaN,NaN,5.00,5.00,X,non-wildland fuel,Debris Burning,61511009,51 - Tillamook,Tillamook,T000 R000 S00
2,3,1961,1961-04-09,Washington,NaN,NaN,0.05,0.05,X,non-wildland fuel,Recreationist,61511011,51 - Tillamook,Tillamook,T000 R000 S00
3,4,1961,1961-05-24,Washington,NaN,NaN,1.00,1.00,X,non-wildland fuel,Smoking,61511012,51 - Tillamook,Tillamook,T000 R000 S00
4,5,1961,1961-06-19,Washington,NaN,NaN,0.05,0.05,X,non-wildland fuel,Miscellaneous,61511016,51 - Tillamook,Tillamook,T000 R000 S00

In [3]:
#drop NAN values, we want to be able to plot with lat and lon
or_hist_df = or_hist_df.dropna(how='any')

In [4]:
or_hist_df.head()

,id,fire_year,report_date,county,latitude,longitude,total_acres,odf_acres,fuel_model,fuel_descr,general_cause,fire_name,district,unit,legal
48,49,1961,1961-01-26,Clatsop,46.104106,-122.172606,1.0,1.0,U,closed canopy pine,Debris Burning,61521006,52 - Astoria,Astoria,T07N R09W S08
51,52,1961,1961-07-11,Clatsop,46.148181,-122.110722,0.1,0.1,U,closed canopy pine,Equipment Use,61521027,52 - Astoria,Astoria,T08N R10W S26
52,53,1961,1961-07-11,Clatsop,46.075392,-122.295075,0.1,0.1,U,closed canopy pine,Equipment Use,61521028,52 - Astoria,Astoria,T07N R08W S20
56,57,1961,1961-08-08,Clatsop,46.177878,-122.401967,0.1,0.1,G,conifer old growth,Equipment Use,61521050,52 - Astoria,Astoria,T08N R07W S18
75,76,1961,1961-09-26,Clatsop,46.148189,-122.173517,0.1,0.1,G,conifer old growth,Juveniles,61521118,52 - Astoria,Astoria,T08N R09W S29

In [42]:
#drop fuel description that is less than one acre and isn't a wildland fuel
#index_names = or_hist_df[ (or_hist_df['total_acres'] <= .05) & (or_hist_df['fuel_descr'] == 'non-wildland fuel')].index
#or_hist_df.drop(index_names, inplace = True)
#index_names2 = or_hist_df[ or_hist_df['county'] == "Other St." ].index
#or_hist_df.drop(index_names2, inplace = True)
index_names3 = or_hist_df[ or_hist_df['fire_year'] <= 2010].index
or_hist_df.drop(index_names3, inplace = True)

In [43]:
or_hist_df.head()

,id,fire_year,report_date,county,latitude,longitude,total_acres,odf_acres,fuel_model,fuel_descr,general_cause,fire_name,district,unit,legal
56093,56094,2012,2012-09-06,Clatsop,46.184722,-122.226667,0.01,0.01,U,closed canopy pine,Juveniles,MITSCHER RD.,52 - Astoria,Astoria,T08N R09W S11 SESW
56233,56234,2012,2012-07-24,Tillamook,45.181667,-122.055278,0.30,0.30,F,dense brush,Equipment Use,BROOTEN RD,51 - Tillamook,Tillamook,T04S R10W S32 NWSW
56234,56235,2012,2012-07-26,Tillamook,45.547778,-122.093056,0.01,0.01,F,dense brush,Recreationist,HOBSONVILLE POINT,51 - Tillamook,Tillamook,T01N R10W S27 NWNW
56235,56236,2012,2012-08-11,Tillamook,45.744722,-122.136389,1.20,1.20,J,slash medium,Debris Burning,NORTH FORK ROAD,51 - Tillamook,Tillamook,T03N R10W S13 NWSW
56236,56237,2012,2012-08-17,Tillamook,45.540000,-122.212500,0.01,0.01,F,dense brush,Debris Burning,KILCHIS PARK,51 - Tillamook,Tillamook,T01N R09W S28 NESE

In [44]:
#grab columns we care about
or_df = or_hist_df[['fire_year', 'report_date', 'county', 'latitude', 'longitude', 'total_acres', 'general_cause']]

In [45]:
#sort by report date
or_df = or_df.sort_values(by=['report_date'])

In [46]:
#reset index
or_df = or_df.reset_index(drop=True)
or_df

,fire_year,report_date,county,latitude,longitude,total_acres,general_cause
0,2011,2011-01-27,Coos,43.201667,-123.948611,0.35,Recreationist
1,2011,2011-02-02,Lane,43.994444,-121.103056,0.01,Debris Burning
2,2011,2011-02-03,Douglas,43.266111,-121.031944,2.00,Arson
3,2011,2011-02-03,Clatsop,46.133333,-122.053889,1.50,Miscellaneous
4,2011,2011-02-11,Clatsop,46.182500,-122.039167,0.01,Lightning
...,...,...,...,...,...,...,...
9495,2021,2021-05-21,Lane,43.783417,-122.732869,0.08,Arson
9496,2021,2021-05-22,Hood River,45.576111,-120.532500,0.10,Recreationist
9497,2021,2021-05-23,Deschutes,43.665278,-120.487778,0.01,Equipment Use
9498,2021,2021-05-24,Wasco,45.265000,-120.767778,14.56,Debris Burning
9499,2021,2021-05-27,Columbia,45.841167,-121.141000,0.03,Debris Burning

In [47]:
or_df.to_csv("Resources/or_df.csv")

1991    2029
1987    1631
1992    1617
1970    1412
1994    1403
2006    1243
2001    1239
1985    1219
1974    1150
2007    1150
1990    1145
2013    1144
1999    1132
1975    1132
2002    1125
1989    1114
2003    1101
1986    1100
1988    1096
1977    1072
2014    1070
2018    1069
1972    1040
2008    1030
2017    1026
2015    1021
1996    1006
2019     981
1980     960
1967     956
1995     954
1984     948
1973     942
2009     923
1998     921
2020     912
1979     903
1981     895
1978     871
2004     868
2000     866
1982     863
1976     827
1993     795
2016     783
1997     763
2005     762
1983     761
1968     685
1969     663
2011     657
2012     652
1971     634
2010     628
2021     185
1961       9
1964       5
1960       4
1962       3
1963       2
Name: fire_year, dtype: int64